.login {
	background-color: rgb(255, 248, 240);
	padding: 10px 15px;
	border-radius: 15px;
}

.user {
	/* background-color: rgb(255, 248, 240); */
	padding: 10px 15px;
	border-radius: 15px;
	margin-right: 0px;
}

.login:hover {
	background-color: rgb(255, 238, 216);
	cursor: pointer;
}

.h1 {
	margin: 0;
}

.navbar {
    position: sticky;
	width: 100%;
    top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: bisque;
	padding: 15px 20px;
}
