.container {
	width: min(400px, 95vw);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* animation: fadeInAnimation ease-in 0.5s;
	animation-iteration-count: 1; */
	/* animation-fill-mode: forwards; */
	/* border: 1px solid gray; */
}

.cropsTitle {
	display: flex;
	padding: 6px;
	justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 255, 234);
    border-radius: 8px;
	/* border: 1px solid gray; */
}
.alert {
    background-color: #ffe6e6;
}
.crop {
	width: 100%;
	border: 1px solid gray;
	border-radius: 8px;
	margin: 2px 0;
}

.count {
    padding: 1px 6px;
    /* border: 1px solid gray;
    border-radius: 50%;
    aspect-ratio: 1/1; */
}

.icon {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}
